// variables
$primary-charlandito: #f5821f;

.container-charlandito {
  align-items: center;
  aspect-ratio: 1/1;
  background-color: $white;
  border: 8px solid $primary-charlandito;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  position: relative;
  text-align: center;
  @media (max-width: 425px) {
    height: 300px;
  }
}
.watermark {
  position: absolute;
  height: 10%;
  width: auto;
  bottom: 8px;
  right: 8px;
  img {
    width: 100%;
    height: 100%;
  }
}

.charlandito {
  color: $primary-charlandito !important;
  border-color: $primary-charlandito !important;
}
