$spac: 8px;

// helpers

@for $i from 0 through 10 {
  .m-#{$i} {
    margin: ($spac * $i) !important;
  }
  .m-lg-#{$i} {
    @include media-breakpoint-up(lg) {
      margin: ($spac * $i) !important;
    }
  }
}

@for $i from 0 through 10 {
  .mx-#{$i} {
    margin-right: ($spac * $i) !important;
    margin-left: ($spac * $i) !important;
  }
  .mx-lg-#{$i} {
    @include media-breakpoint-up(lg) {
      margin-right: ($spac * $i) !important;
      margin-left: ($spac * $i) !important;
    }
  }
}

@for $i from 0 through 10 {
  .my-#{$i} {
    margin-top: ($spac * $i) !important;
    margin-bottom: ($spac * $i) !important;
  }
  .my-lg-#{$i} {
    @include media-breakpoint-up(lg) {
      margin-top: ($spac * $i) !important;
      margin-bottom: ($spac * $i) !important;
    }
  }
}

@for $i from 0 through 10 {
  .mt-#{$i} {
    margin-top: ($spac * $i) !important;
  }
  .mt-lg-#{$i} {
    @include media-breakpoint-up(lg) {
      margin-top: ($spac * $i) !important;
    }
  }
}

@for $i from 0 through 10 {
  .mr-#{$i} {
    margin-right: ($spac * $i) !important;
  }
  .mr-lg-#{$i} {
    @include media-breakpoint-up(lg) {
      margin-right: ($spac * $i) !important;
    }
  }
}

@for $i from 0 through 10 {
  .mb-#{$i} {
    margin-bottom: ($spac * $i) !important;
  }
  .mb-lg-#{$i} {
    @include media-breakpoint-up(lg) {
      margin-bottom: ($spac * $i) !important;
    }
  }
}

@for $i from 0 through 10 {
  .ml-#{$i} {
    margin-left: ($spac * $i) !important;
  }
  .ml-lg-#{$i} {
    @include media-breakpoint-up(lg) {
      margin-left: ($spac * $i) !important;
    }
  }
}

@for $i from 0 through 10 {
  .p-#{$i} {
    padding: ($spac * $i) !important;
  }
  .p-lg-#{$i} {
    @include media-breakpoint-up(lg) {
      padding: ($spac * $i) !important;
    }
  }
}

@for $i from 0 through 10 {
  .px-#{$i} {
    padding-right: ($spac * $i) !important;
    padding-left: ($spac * $i) !important;
  }
  .px-lg-#{$i} {
    @include media-breakpoint-up(lg) {
      padding-right: ($spac * $i) !important;
      padding-left: ($spac * $i) !important;
    }
  }
  .px-sm-#{$i} {
    @include media-breakpoint-up(sm) {
      padding-right: ($spac * $i) !important;
      padding-left: ($spac * $i) !important;
    }
  }
}

@for $i from 0 through 10 {
  .py-#{$i} {
    padding-top: ($spac * $i) !important;
    padding-bottom: ($spac * $i) !important;
  }
  .py-lg-#{$i} {
    @include media-breakpoint-up(lg) {
      padding-top: ($spac * $i) !important;
      padding-bottom: ($spac * $i) !important;
    }
  }
}

@for $i from 0 through 10 {
  .pt-#{$i} {
    padding-top: ($spac * $i) !important;
  }
  .pt-lg-#{$i} {
    @include media-breakpoint-up(lg) {
      padding-top: ($spac * $i) !important;
    }
  }
}

@for $i from 0 through 10 {
  .pr-#{$i} {
    padding-right: ($spac * $i) !important;
  }
  .pr-lg-#{$i} {
    @include media-breakpoint-up(lg) {
      padding-right: ($spac * $i) !important;
    }
  }
}

@for $i from 0 through 10 {
  .pb-#{$i} {
    padding-bottom: ($spac * $i) !important;
  }
  .pb-lg-#{$i} {
    @include media-breakpoint-up(lg) {
      padding-bottom: ($spac * $i) !important;
    }
  }
}

@for $i from 0 through 10 {
  .pl-#{$i} {
    padding-left: ($spac * $i) !important;
  }
  .pl-lg-#{$i} {
    @include media-breakpoint-up(lg) {
      padding-left: ($spac * $i) !important;
    }
  }
}
