@import './variables';
@import './utils';
@import url('https://fonts.googleapis.com/css?family=Italianno');

.App {
  background-color: $black;
}

.full-card {
  background-color: $black;
  border: 1rem solid $primary;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-around;
  width: 100vw;
  &__item {
    color: $primary;
    font-family: Italianno;
    font-size: 5rem;
    margin: auto;
    text-align: center;
    width: 100%;
    text-shadow: $primary-hover;

    @include media-breakpoint-down($screen-sm-min) {
      font-size: 3rem;
    }
    @include media-breakpoint-down($screen-md-min) {
      font-size: 4rem;
    }
  }
}
