@import './variables';
@import './utils';
@import url('https://fonts.googleapis.com/css?family=Italianno');

.App {
  background-color: $black;
}

.full-card {
  background-color: $black;
  border: 1rem solid $primary;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  width: 100%;
  &__item {
    color: $primary;
    font-family: Italianno;
    font-size: 5rem;
    padding: 0 2rem;
    text-align: center;
    text-shadow: -1rem 1rem 1rem $primary-hover;
    flex-wrap: nowrap;

    @include media-breakpoint-down($screen-sm-min) {
      font-size: 3rem;
    }
    @include media-breakpoint-down($screen-md-min) {
      font-size: 4rem;
    }
  }
}

span.time {
  color: $primary;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: none;
}

.align-text-left {
  text-align: left;
}
.align-text-right {
  text-align: right;
}
.align-text-center {
  text-align: center;
}
