@import './variables';
@import './utils';
@import url('https://fonts.googleapis.com/css?family=Italianno');
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans');
@import url('https://fonts.googleapis.com/css?family=Loved+by+the+King');
@import url('https://fonts.googleapis.com/css?family=Kalam');
.App {
  background-color: $black;
  font-family: 'Ropa Sans';
  font-size: 24px;
}

.full-card {
  background-color: $black;
  border: 1rem solid $primary;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  max-width: 100%;
  &__item {
    line-height: 1.2em;
    color: $primary;
    font-family: 'Kalam';
    font-size: 5rem;
    padding: 0 2rem;
    text-align: center;
    text-shadow: -1rem 1rem 1rem $primary-hover;
    flex-wrap: nowrap;
    animation-name: text-shadow;
    animation-duration: 4s;
    animation-timing-function: ease-out;

    @keyframes text-shadow {
      from {
        text-shadow: 1rem -1rem 1rem $primary-hover;
      }
      to {
        text-shadow: -1rem 1rem 1rem $primary-hover;
      }
    }

    @include media-breakpoint-down($screen-sm-min) {
      font-size: 3rem;
    }
    @include media-breakpoint-down($screen-md-min) {
      font-size: 3rem;
    }
  }
}

span.time {
  color: $primary;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: none;
  cursor: pointer;
}

.align-text-left {
  text-align: left;
}
.align-text-right {
  text-align: right;
}
.align-text-center {
  text-align: center;
}

dialog {
  background-color: $black;
  border: 2px solid $primary;
  border-radius: 8px;
  color: $primary;
  &::backdrop {
    background: $black;
    opacity: 0.8;
  }
}

button {
  color: $primary;
  background-color: $black;
  cursor: pointer;
  transition: all 0.5s;
  color: $primary;
  font-size: 24px;
  background-color: $black;
  font-family: 'Ropa Sans';

  &:hover {
    color: $primary-hover;
    border-color: $primary-hover;
    box-shadow: 0 0 8px $primary;
  }
  margin: 0 8px;

  &.rounded {
    border-radius: 50%;
  }
  &.button-float {
    position: fixed;
    bottom: 24px;
    right: 24px;
    border-radius: 50%;
    border: 2px solid $primary;
    width: 50px;
    height: 50px;
  }
}

.border-primary {
  border: 2px solid $primary;
  border-radius: 4px;
}

label {
  color: $primary;
  margin: ($spacer * 2) 0 0 0;
  font-family: 'Ropa Sans';
  font-size: 24px;
  display: block;
}

input {
  color: $primary;
  display: block;
  font-size: 24px;
  background-color: $black;
  outline: none;
  font-family: 'Ropa Sans';
  &:focus {
    outline: none;
    box-shadow: 0 0 8px $primary;
  }
  &:invalid {
    border-color: red;
  }
  &.submit {
    cursor: pointer;
  }
}

textarea {
  color: $primary;
  font-size: 24px;
  display: block;
  background-color: $black;
  font-family: 'Ropa Sans';
  outline: none;
  &:focus {
    outline: none;
    box-shadow: 0 0 8px $primary;
  }
  &:invalid {
    border-color: red;
  }
}

span.form-error {
  font-size: 24px;
  font-family: 'Ropa Sans';
  color: red;
}

select {
  color: $primary;
  outline: none;
  background-color: $black;
  font-size: 24px;
  width: 100%;
}

menu.actions {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
